* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face { 
	font-family: Gotham-Book; 
	src: url('fonts/GothamBook.ttf'); 
} 

body {
	font-family: Gotham-Book, Arial, sans-serif;
	font-size: 1rem;
	z-index: -99;
}

.container {
	width: 100%;
	background-color: white;
	margin: 0 auto;
}

h2 {
	letter-spacing: 0.4rem;
}

/*NAV BAR*/

.navbar {
	position: fixed;
	top: 0;
	z-index: 2;
	width: 100%;
	background-color: #222222;
}

.navbar .icon-list {
	float: right;
	margin-top: 1rem;
}

.navbar .header-list {
	width: 400px;
	margin: 20px auto;
	padding-left: 15px;
}

.navbar li {
	display: inline-block;
	padding: 0.8rem;
	letter-spacing: 0.2rem;
}

.navbar a {
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 0.8em;
}

.navbar a:hover {
	color: #FFD03F;
}

.fab {
	font-size: 1.8rem;
	color: white;
}

.fab:hover {
	color: #FFD03F;
}

#home-link {
	float: left;
	background-image: url(img/house_white.png);
	background-size: 80%;
	background-repeat: no-repeat;
	margin: 25px 0px 0px 30px;
	width: 40px;
	height: 40px;
}

/*PARALLAX JUMBO*/

header {
	width: 100%;
	height: 720px;
}

.scrolling {
	position: relative;
  margin: auto;
  width: 100%;
	height: 600px;
	z-index: 1;
}

.layer {
	width: 100%;
	height: 600px;
	background-size: cover;
	position: fixed;
}

#layer-one {
	position: fixed;
	height: 800px;
	top: -60px;
	left: 0;
	z-index: -1;
}

#layer-oneb {
	position: fixed;
	height: 700px;
	top: 60px;
	left: 0;
	z-index: -2;
}

#layer-two {
	left: 0;
	top: 50px;
	z-index: -4;
}

#layer-three {
	height: 700px;
	top: -15px;
	left: 0;
	z-index: -3;
}

#layer-four {
	top: 65px;
	left: 0;
	z-index: -5;
}

#sun {
	position: relative;
	left: 80%;
	z-index: -5;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	background-color: #FFD03F;
	box-shadow: 0px 0px 40px 20px #FFD03F;	
	animation: sunrise 5s ease-out forwards;
}

#sky {
	position: relative;
	top: -2rem;
	z-index: -6;
	width: 100%;
	height: 600px;
	background: linear-gradient(170deg, darkblue, #FFD03F);
	animation: sky 5s ease-out forwards;
}

/*TITLE*/

.header-title {
	position: absolute;
	top: 150px;
	left: 400px;
	float: left;
	z-index: 1;
	text-align: center;
	animation: fade 4s forwards;
	color: rgba(255, 255, 255, 0.9);
	text-transform: uppercase;
	letter-spacing: 0.7rem;
}

.header-title h1 {
	font-size: 2.7rem;
	padding: 15px;
}

.header-title h2 {
	font-size: 1.2rem;
}

#top { /*enables smooth scrolling to top of page*/
	position: absolute;
	top: -40rem;
}

/*ABOUT SECTION*/

.about-color {
	background-color: white;
}

.about-section-background {
	font-size: 1rem;
	margin: 0 auto;
	padding-top: 100px;
	z-index: -8;
}

.about-container {
	position: relative;
	width: 60%;
	padding: 10px;
	background-color: white;
	color: black
	height: auto;
}

.about-container p {
	font-size: 1.3rem;
	padding: 0 1rem 2rem 1rem;
	line-height: 3rem;
	margin: 10px;
}

.about-container h2 {
	font-size: 2.6rem;
	text-align: center;
	padding: 2rem;
	color: black;
	text-transform: uppercase;
}

#head {
	display: block;
	width: 240px;
	margin: 45px auto;
	border-radius: 30%;
	border: 1px solid black;
}

.intro-sentence {
	font-size: 1.5rem;
}

.about-box {
	margin: 20px;
	display: inline-block;
}

.about-box h3 {
	margin: 10px;
}

.skill-list {
	width: 43%;
	margin: 10px;
	float: left;
}

.resume-box {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 200px;
	background-image: url(img/background.jpg);
	background-size: cover;
	background-attachment: fixed;
	margin-bottom: 100px;
}

#resume-button {
	border: 2px solid black;
	text-decoration: none;
	font-size: 0.8rem;
	letter-spacing: 0.2rem;
	padding: 20px 26px;
	color: black;
	font-weight: 900;
	text-transform: uppercase;
	transition: 700ms;
}

#resume-button:hover {
	background-color: #444444;
	color: #FFD03F;
	border-radius: 5px;
}

.about-skills li {
	display: inline-block;
	list-style-type: none;
	padding: 0.3rem;
	margin: 0.3rem;
	border: 1px solid black;
	border-radius: 5px;
}

.about-section-divider {
	border: 1px solid black;
	width: 15%;
	margin: 0 auto;
} 

.responsive { /*to make images responsive*/
	width: 100%;
	height: auto;
}

/*PROJECTS SECTION*/

.projects-color {
	background-color: white;
	background-size: cover;
	height: 1450px;
}

.projects-color h2 {
	text-align: center;
	padding: 3rem 0 1.6rem 0;
	font-size: 3rem;
	font-weight: 900;
	text-transform: uppercase;
}

.projects-section-divider {
	border: 1px solid black;
	width: 10%;
	margin: 0 auto;
} 

.projects-container {
	width: 80%;
}

.project {
	position: relative;
	float: left;
	width: 38%;
	height: 450px;
	border: 1px solid black;
	padding: 2%;
	margin: 4.5%;
	text-align: left;
	font-size: 0.9rem;
	box-shadow: 0 0 5rem #b7b7b7;
	background-color: rgba(255, 255, 255, 0.7);
}

.project h3 {
	text-align: center;
	margin: 10px 0 15px;
}

.project-description {
	font-size: 1rem;
	padding: 25px;
}

.project-image {
	width: 70%;
	height: 50%;
	background-size: cover;
	background-position: center center;
	border: 1px solid black;
	margin: 3% auto;
	opacity: 1;
}

.project-icons {
	width: 100%;
	position: absolute;
	bottom: 1%;
	left: 0;
	font-size: 1rem;
	padding: 8px;
}

.project-btn {
	float: left;
	width: 30%;
	text-align: center;
	font-size: 0.8rem;
	border: 1px solid black;
	padding: 7px;
	margin: 1.5%;
	border-radius: 4px;
	box-shadow: 3px 3px 10px grey;
	background-color: #eff;
	cursor: pointer;
	transition: 0.6s;
}

.project-btn:hover {
	background-color: #444444;
	color: #FFD03F;
	border-radius: 5px;
}

.project-icons .fab {
	color: black;
	border: none;
	font-size: 2.6rem;
	padding: 0;
	margin-right: 10px;
}

.project-one {
	background-image: url(img/books.png);
	cursor: pointer;
}

.project-two {
	background-image: url(img/portfolio.png);
}

.project-three {
	background-image: url(img/calculator.jpg);
}

.project-four {
	background-image: url(img/todo.png);
}

.clearfix {
	clear: both;
}

/*PROJECTS MODAL WINDOW*/

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 2000px;
	background-color: rgba(0, 0, 0, 0.7);
	display: none;
	z-index: 110;
}

.modal p {
	padding: 6%;
	line-height: 25px;
	font-size: 0.9rem;
}

.modal h3 {
	text-align: center;
	padding: 15px; 
	margin: 0 30px;
	border-bottom: 1px solid grey;
}

.modal h4 {
	text-align: center;
	padding: 20px;
}

.modal-box {
	position: relative;
	top: -15px;
	width: 850px;
	height: 85vh;
	background-color: white;
	border-radius: 5px;
	margin: 100px auto;
}

.product-features {
	list-style: none;
	text-align: center;
}

.close-box {
	position: absolute;
	right: 10px;
	top: 0px;
	font-size: 40px;
	transform: rotate(45deg);
	cursor: pointer;
	transition: 0.2s;
}

.close-box:hover {
	color: #aaa;
}

/*CONTACT SECTION*/

.contact-color {
	background-color: white;
}

#contact-container {
	width: 50%;
	clear: both;
}

#contact-container h2 {
	text-align: center;
	font-size: 2.4rem;
	margin: 1.2rem;
	padding: 2rem 4rem 0 4rem;
	text-transform: uppercase;
}

#contact-header {
	width: 100%;
	height: 170px;
	background-image: url(img/background.jpg);
	background-size: cover;
	background-attachment: fixed;
	margin-bottom: 70px;
}

#contact-header h2 {
	text-align: center;
	font-size: 3rem;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	padding: 30px;
}

.contact-section-divider {
	border: 1.5px solid black;
	width: 10%;
	margin: 0 auto;
} 

#contact-container {
	box-shadow: 0 0 50px #555555;
}

#contact-container p {
	padding: 2.6rem;
	text-align: center;;
	font-size: 1.7rem;
}

.form-link {
	color: #1158C8;
}

form {
	margin: 50px auto;
	width: 100%;
	background-color: white;
	text-align: center;

}

form label {
	display: block;
	padding: 20px 0;
}

form textarea {
	height: 300px;
}

form input {
	height: 50px;

}

input, textarea {
	display: inline-block;
	width: 70%;
	border: 1px solid black;
	padding: 0.5rem;
	margin: 0 auto;
	font-size: 1.4rem;
}

#send-button {
	width: 200px;
	border: 1px solid black;
	text-decoration: none;
	font-size: 0.8rem;
	font-family: Gotham-Book, Arial, sans-serif;
	letter-spacing: 0.3rem;
	padding: 15px 26px;
	margin: 35px;
	color: black;
	font-weight: 700;
	background-color: white;
	text-transform: uppercase;
	box-shadow: 2px 2px 8px grey;
	transition: 700ms;
}

#send-button:hover {
	background-color: #444444;
	color: #FFD03F;
	cursor: pointer;
	border-radius: 5px;
}

/*FOOTER*/

footer {
	position: absolute;
	height: auto;
	width: 100%;
	background-color: #222222;
}

footer li {
	list-style: none;
	display: inline-block;
	padding: 1rem;
}

.icon-list {
	width: 12rem;
	height: 4rem;
	margin: 0 auto;
}

.copyright p {
	width: 100%;
	margin:  0 auto;
	text-align: center;
	letter-spacing: 0.4em;
	font-size: 1rem;
	padding-bottom: 1rem;
	color: white;
	background-color: #222222;
}

.footer-section-divider {
	background-color: white;
	margin: 10px auto 30px;
	border: 0.5px solid white;
	height: 1px;
	width: 10%;
}

/*KEYFRAMES*/

@keyframes sky {
    from {top: 10px;}
    to {top: -200px;}
}

@keyframes sunrise {
    from {top: 450px;}
    to {top: 210px;}
}

@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}

/*MEDIA QUERIES*/

/*Small:*/

@media only screen and (max-width: 600px) {
		html {font-size: 10px;}
		.container {width: 100%;
								padding: 8px;
								margin: 0;

		}
    #contact-container {width: 100%;}
    
    .projects-container {width: 100%;}
    .layer {width: 100vw;
  height: 100vh;
  object-fit: cover;}
  .section-background {padding: 0;}
    .header-title h1 {font-size: 24px;}
    .header-title {left: 70px;
    								top: 160px;
    }
  }
  #home-link {display: none;}
  
 

}