* {
	margin: 0;
	padding: 0;
	font-family: Titillium Web, Arial, sans-serif;
}

body {
	height: 2000px;
	font-size: 1rem;
	box-sizing: border-box;
}


/*NAV BAR*/

.navbar {
	position: fixed;
	top: 0;
	z-index: 2;
	width: 100%;
	background-color: #222222;
}

.navbar ul {
	float: right;
	margin-top: 5px;
}

.navbar li {
	display: inline-block;
	padding: 1.5rem;
}

.navbar a {
	color: white;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	text-decoration: none;
	font-size: 0.8em;
}

.navbar a:hover {
	color: #FFD03F;
}

.icon-list {
	margin-right: 1rem;
}

.fab {
	font-size: 1.8rem;
	color: white;
}

.fab:hover {
	color: #FFD03F;
}

#home-link {
	float: left;
	background-image: url(img/house_white.png);
	background-size: 80%;
	background-repeat: no-repeat;
	margin: 12px 0px 0px 30px;
	width: 40px;
	height: 40px;
}

/*PARALLAX JUMBO*/

header {
	width: 100%;
	height: 800px;
}

.scrolling {
	position: relative;
  margin: auto;
  width: 100%;
	height: 700px;
	z-index: 1;
}

.layer {
	width: 100%;
	height: 600px;
	background-size: cover;
/*	background-position: bottom center;
*/	position: fixed;
}

#layer-one {
	/*background-image: url('layer-front.png');*/
	height: 800px;
	top: 40px;
	left: 0;
	z-index: -1;
}

#layer-two {
	/*background-image: url('layer2.png');*/
	left: 0;
	top: 10px;
	z-index: -3;
}

#layer-three {
	/*background-image: url('layer3.png');*/
	height: 700px;
	top: 0;
	left: 0;
	z-index: -2;
}

#layer-four {
	/*background-image: url('layer4.png');*/
	top: -5px;
	left: 0;
	z-index: -4;
}

#sun {
	position: relative;
	left: 50rem;
	top: 25rem;
	z-index: -5;
	border-radius: 50%;
	width: 5rem;
	height: 5rem;
	background-color: #FFD03F;
	box-shadow: 0px 0px 40px 20px #FFD03F;	
	animation: sunrise 6s ease-out forwards;
}

#sky {
	position: relative;
	top: -2rem;
	z-index: -6;
	width: 100%;
	height: 32rem;
	background: linear-gradient(blue, #FFD03F);
	animation: sky 6s ease-out forwards;
}

/*TITLE*/

/*.header-title h1 {
	font-size: 2.7rem;
	color: white;
	z-index: 2;
	
}*/

.yo h1 {
	color: white;
	z-index: 10000;
}

.header-title h2 {
	font-size: 1.8rem;
}

/*SECTIONS*/

.section-background {
	font-size: 1rem;
	margin: 0 auto;
	padding: 9rem 2rem 7rem 2rem;
	z-index: -8;
}

.container {
	width: 60%;
	margin: 0 auto;
	padding: 5rem 0;
	background-color: white;
	opacity: 0.9;
	padding: 3rem;
}

.about-color {
	background-color: #FFD03F;
}

.projects-color {
	background-color: white;
}

.contact-color {
	background-color: #ddd;
}

#top { /*enables smooth scroll on home icon link*/
	position: absolute;
	top: -40rem;
}

/*ABOUT SECTION*/

.about-container p {
	font-size: 1.7rem;
	padding: 2rem 1rem;
	line-height: 3.6rem;

}

.about-container h2 {
	font-size: 2.6rem;
	text-align: center;
	padding: 2rem;
}

#resume-button {
	position: relative;
	top: 3rem;
	border: 2px solid black;
	padding: 1rem 4rem 1rem 1rem;
	box-shadow: 3px 3px 5px black;
	background-color: white;
	text-decoration: none;
	color: black;
	transition: 700ms;
}

#resume-button:hover {
	background-color: #5c5292;
	color: white;
}

#file-icon {
	display: inline-block;
	position: absolute;
	top: 0.8rem;
	right: 1rem;
	width: 2rem;
	height: 2rem;
	background: url(img/file.png) no-repeat;
}

.about-box {
	width: 23%;
	border: 1px solid black;
	padding: 1.6rem;
	margin: 3rem 1.5rem 3rem 0;
	display: inline-block;
}

.about-box:nth-child(4) {
	margin-right: 0;
}

#about-skills li {
	display: inline-block;
	list-style-type: none;
	padding: 0.2rem;
	margin: 0.3rem;
	border: 1px solid black;
	border-radius: 5px;
}

.responsive { /*to make image responsive*/
	width: 100%;
	height: auto;
}

#head {
	float: left;
	width: 30%;
	margin-right: 3rem;
}

/*PROJECTS SECTION*/

.projects-container h2 {
	text-align: center;
	padding: 3rem 0 1.6rem 0;
	font-size: 2.6rem;
}

.project {
	position: relative;
	float: left;
	width: 35%;
	height: 25rem;
	border: 1px solid black;
	padding: 1rem;
	margin: 4%;
	text-align: left;
	font-size: 0.9rem;
}

.project-image {
	width: 50%;
	height: 50%;
	float: left;
	background-size: cover;
	background-position: center center;
	border: 1px solid black;
	margin: 1rem 1rem 0 0;
}

.project p {
	padding: 1rem 0;
}

.project .fab {
	position: absolute;
	bottom: 1.5rem;
	left: 1.5rem;
	color: black;
}

.project-three {
	background-image: url(img/calculator.jpg);
}

.clearfix {
	clear: both;
}

/*CONTACT SECTION*/

#contact-container {
	padding: 0;
	width: 50%;
	clear: all;
}

#contact-container h2 {
	text-align: center;
	font-size: 2.4rem;
	margin: 1.2rem;
	padding: 2.6rem 4rem 0 4rem;
}

#contact-header {
	width: 100%;
	margin: 0 auto;
	padding: 0 0 3% 0;
	background-color: #1158C8;
	color: white;
}

.section-divider {
	width: 24%;
	height: 2px;
	margin: 0 auto 3rem auto;
	background-color: lightblue;
}

#contact-container p {
	padding: 2.6rem;
	text-align: center;;
	font-size: 1.7rem;
}

.form-link {
	color: #1158C8;
}

form {
	margin: 0 auto;
	width: 100%;
	background-color: white;
	text-align: center;
}

form label {
	display: block;
	padding: 0.7rem 0;
}

form textarea {
	height: 14rem;
}

input, textarea {
	display: inline-block;
	width: 80%;
	border: 1px solid black;
	padding: 0.5rem;
	margin: 0 auto;
}

#send-button {
	margin: 3rem auto;
	border: 1px solid #222222;
	padding: 0.5rem;
	box-shadow: 2px 2px 5px #333333;
	background-color: #1158C8;
	color: white;
	font-size: 1rem;
	letter-spacing: 0.3rem;
	transition: 700ms;
}

#send-button:hover {
	background-color: #ddd;
	color: black;
}

/*FOOTER*/

footer {
	position: absolute;
	height: 65px;
	width: 100%;
	background-color: #222222;
}

footer li {/*
	position: relative;
	left: 43%;*/
	list-style: none;
	display: inline-block;
	padding: 1rem;
}

.icon-list {
	width: 12rem;
	height: 4rem;
	margin: 0 auto;
}

.copyright p {
	width: 100%;
	margin:  0 auto;
	text-align: center;
	letter-spacing: 0.4em;
	font-size: 1rem;
	padding-bottom: 1rem;
	color: white;
	background-color: #222222;
}

/*KEYFRAMES*/

@keyframes sky {
    from {top: -2rem;}
    to {top: -14rem;}
}

@keyframes sunrise {
    from {top: 22rem;}
    to {top: 10rem;}
}
